.input-search-bar {
  display: block;
  width: 400px;
}

.country-name {
  float: left;
  padding-right: 5px;
}

.main {
  position: absolute;
  left: 3em;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.country-names {
  list-style: none;
}

.submit-button {
  margin-top: 1em;
}

.search-results-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.sort-button:hover {
  background-color: darkorange;
  cursor: pointer;
}

.input-container {
}

.results-table {
  position: relative;
  top: 2em;
}

.results-value {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
}

.qs {
  background-color: #ac2828;
}
.qs:hover{
  background-color: #8f2323;
}
.qe {
  background-color: #4773c4;
}
.qe:hover {
  background-color: #446195;
}
.aqs {
  background-color: #ddd143;
}
.aqs:hover {
  background-color: #a8a14b;
}
.aqe {
  background-color: #9b27b8;
}
.aqe:hover {
  background-color: #7a337a;
}

.results-value:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.results {
  margin-right: 4em;
}

.search-results-div {
  padding-top: 15px;
}

.search-results-symbols {
  display: block;
}

.input-container input[type=search] {
	padding-left: 10px;
  margin-right: 13px;
  width: 50%;
	cursor: pointer;
}
